.CardArtist {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.5fr repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "addSong trackTitle menu"
    ". . ."
    ". . .";
  grid-area: CardArtist;
}

.trackTitle h2 {
  color: #f6f4eb;
}

.trackImage {
  grid-area: 2 / 2 / 4 / 3;
  /*  display: none;
  grid-area: 2 / 2 / 1 / 3;*/
}
.trackTitle {
  grid-area: trackTitle;
}
.addSong {
  grid-area: addSong;
}
.menu {
  grid-area: menu;
}
