.CardArtist {
  height: 380px;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.5fr repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "addSong trackTitle menu"
    ". . ."
    ". . .";
  grid-area: CardArtist;
}

.trackTitle h3 {
  color: #404758;
  font-size: 1.1rem;
}

.trackImage {
  position: relative;
  height: 800px;
  grid-area: 2 / 2 / 4 / 3;
  justify-self: center;
  align-self: center;
  /*  display: none;
  grid-area: 2 / 2 / 1 / 3;*/
}
.trackTitle {
  grid-area: trackTitle;
  height: 100px;
}
.addSong {
  grid-area: addSong;
}
.menu {
  grid-area: menu;
}

.song-Title {
  color: #687d94;
  font-size: 0.9rem;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 1),
    inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.loader::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.blue {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue::before {
  content: "";
  position: absolute;
  height: 30px;
  border-radius: 50%;
  width: 30px;
  background: rgb(246, 244, 235);
  background: radial-gradient(
    circle,
    rgba(246, 244, 235, 1) 26%,
    rgba(189, 62, 40, 1) 27%,
    rgba(36, 36, 36, 1) 49%
  );
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
  top: 50%;
  left: 50%;
  transform: translate(-300%, -50%);
}
