.userPlaylist {
  position: relative;
  width: 80%;

  background-color: #9F81E0;
  overflow-y:scroll;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(116, 155, 194, 0.46);
  display: grid; 
  grid-template-columns: 0.1fr 1fr 0.1fr; 
  grid-template-rows: 0.1fr 1fr 0.1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". userPlaylistTitle ."
    ". playlist ."
    ". . ."; 
  grid-area: userPlaylist; 
}

.userPlaylistTitle{
    width: 100%;
}
