.cardPlayer {
  position: relative;
  height: 380px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #ffffff;
  background-image: linear-gradient(160deg, #ffffff 3%, #c2d1e1 62%, #b7c3d1 87%);
   
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: grid; 
  grid-template-columns: 0fr repeat(3, 1fr) 0fr; 
  grid-template-rows: 1.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". CardArtist CardArtist CardArtist ."
    ". CardArtist CardArtist CardArtist ."
    ". . . . ."
    ". . . . ."; 
  grid-area: 2 / 2 / 4 / 3;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
  /* grid-area: 2 / 2 / 4 / 3; */ 
  z-index: 2;
  }

