.audioPlayer {
  width: 100%;
  justify-self: center;
  align-self: center;
  grid-area: 1 / 2 / 2 / 3;
  z-index: 3;
  border-radius: 22px;
}

.playerAudio {
  background-color: transparent !important;
  box-shadow: none !important;
}

.time-color {
  color: #f6f4eb !important;
}

.button-player {
  height: max-content;
  --key-text-color: #969faf;
  --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
  --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border: none;
  background: var(--docsearch-key-gradient);
  border-radius: 50%;
  box-shadow: var(--docsearch-key-shadow);
  color: var(--key-text-color);
  height: 1em;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  min-width: 0.8em;
  line-height: 1em;
  user-select: none;
}

.button-player:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}


.audioPlayer div.rhap_progress-filled {
    background-color: #9F81E0;
  }

  .audioPlayer div.rhap_progress-indicator {
    background-color: #846DB9; 
  }