.audioPlayer {
  width: 100%;
  justify-self: center;
  align-self: center;
  grid-area: 1 / 2 / 2 / 3;
  z-index: 3;
  border-radius: 22px;
}

.playerAudio {
  background-color: transparent !important;
  box-shadow: none !important;
}

.time-color {
  color: #f6f4eb !important;
}

.button-player {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1.5px solid #8F9092;
  transition: all 0.2s ease;
  font-weight: 600;
  color: #687D94;
  text-shadow: 0 1px #fff;
}





.audioPlayer div.rhap_progress-filled {
    background-color: #9F81E0;
  }

  .audioPlayer div.rhap_progress-indicator {
    background-color: #846DB9; 
  }

  .audioPlayer .rhap_current-time,
.audioPlayer .rhap_total-time {
  font-size: 0.8rem;
}