.allTracksButton {
  justify-self: center;
  align-self: center;
  grid-area: 4 / 2 / 3 / 3;
  font-size: 1.5rem;
}

.allTrack-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #687D94;
  text-shadow: 0 1px #fff;
}

.allTrack-button:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}


.arrowBar{
  font-size: 1rem;
  font-weight: 800;
}
