.player {
  /*margin-top: 170px;*/
  backdrop-filter: blur(16px) saturate(52%);
  -webkit-backdrop-filter: blur(16px) saturate(52%);
  background-color: rgba(116, 155, 194, 0.35);
  border: 3px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: 1fr 0.5fr; 
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". allTracksButton .";
  grid-area: 3 / 2 / 5 / 5;
  justify-content: center;
  align-self: center;
  /*  grid-area: 3 / 2 / 1 / 5;*/
}

