.playListContainer {
  z-index: 1;
  grid-area: 3 / 2 / 4 / 3;
  background-color: #9f81e0;
  overflow-y: scroll;
  padding-top: 30px;
  border-radius: 22px;
  height: 250px;
}



/* .playListContainer:active {
  transition-delay: 4s;
} */

.playListContainer::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.playListContainer::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.playListContainer::-webkit-scrollbar-thumb {
  background-color: #9074ce; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #9975e5; /* creates padding around scroll thumb */
}
